.feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modal-title {
    width: 100%;
}

.modalHeader {
    width: 100% !important;
    font-weight: bold;

    button {
        font-weight: bold;
        font-size: 20px;
    }
}

