.login {

  h2 {
    color: #5D2A42;
  }

  img {
    width: 300px;
    background-color: transparent;
  }

  .loginButton {
    background-color: #5D2A42;
    border-color: #5D2A42;
    color: white;
  }
}
