.profile {

  .profileHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    .userProfileDetails {
    font-size: 20px;
    font-weight: bolder;
  }
  }

  .editProfileIcon {
    color: black;
    &:hover {
      color: #5D2A42;
    }
  }
}
