.searchResult {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 200px;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 10px;

  .searchedUserAvatar {
    font-weight: bolder;

    image {
      width: 30px;
      height: 30px;
    }
  }

  .searchedUserDetails {

    a:link {
      color: black;
    }

    a:visited {
      color: black;
    }

    a:hover {
      color: #5D2A42;
      text-decoration: none;
    }

    a:active {
      color: black;
    }
  }
}
