@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap';

.appBody {
  display: flex;
  justify-content: center;
  width: 70%;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  height: calc(100vh - 62px);
  overflow: scroll;

  @include media-breakpoint-down(sm) {
    height: calc(100vh - 62px * 2);
  }

}
